/* Colors --- #E8E9F3 Ghost White --- #6290C8 United Nations Blue --- #363457 Space Cadet --- #75DBCD Middle Blue Green --- #878472 Middle Gray*/

.info_header_section {
	display: flex;
	flex-direction: row;
	margin: 5px;
	padding: 5px;
}

.basic_info_wrapper {
	display: flex;
	flex-direction: column;
	order: 2;
	align-items: center;
	padding: 5px;
	margin: 5px;
	text-shadow: 1px 1px 2px rgba(98, 144, 200, 1.0);
}

.img_holding_div {
	order: 0;
}

.short_bio_holder {
	/* background-color: rgba(98, 144, 200, .30); */
	order: 3;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.two_column_container {
	display: flex;
	justify-content: space-evenly;
	/* background-color: rgba(69, 123, 157, 1.0); */
	padding: 3px;
	border-radius: 4px;
	margin: 5px;
}

.committees_section {
	text-align: center;
	flex-basis: 47%;
	/* background-color: rgba(98, 144, 200, .30); */
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.passed_legislation {
	text-align: center;
	flex-basis: 47%;
	/* background-color: rgba(98, 144, 200, .30); */
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.held-office-class {
	font-style: italic;
}

.rep-name-text {
	font-style: italic;
	font-weight: bolder;
}

a {
	color: #6290c8;
	border-radius: 5px;
}

body {
	background-color: rgba(232, 233, 243, 1.0);
	color: #363457;
}

img {
	border: rgba(98, 144, 200, .75) 2px solid;
	border-radius: 7px;
}

h2 {
	text-decoration: underline;
}
